body 
{ background-color:#eeeeee;
font-family:'B Yas';
}
*, *:before, *:after{
box-sizing: border-box;
}
html{
overflow-y:scroll;
}
#main { 
background: url(../image/1.png) repeat-x;
width: 990px;
height:650px;
border-radius:4px;
display:block;
margin:0 auto;
}
#header{ 
width: 990px;
height:150px;
}
#title{ 
width: 990px;
height:100px;
}
#content{
width: 990px;
height:350px;
}
#footer { 
width: 990px;
height:50px;
}
#header h1
{float: right;
background: url(../image/3.png) no-repeat;
text-indent: -99999px;
height:72px;
width:354px;
margin-top : 27px;
margin-right: 220px;
}
#header h2
{float: right;
text-indent: -99999px;
background: url(../image/2.png) no-repeat;
height:41px;
width:241px;
margin-top: -23px;
margin-right: 220px;
}
#header h3
{float: left;
text-indent: -99999px;
height:130px;
width:130px;
background: url(../image/7.png) no-repeat;
margin-top: 10px;
margin-left: 216px;
}
#title h2
{
float: right;
text-indent: -99999px;
background: url(../image/4.png) no-repeat;
height:49px;
width:552px;
margin-top: 20px;
margin-right: 220px;
}
#content .m{
float: right;
width: 950px;
height:330px;
background-color:#ffffff;
margin-top: 10px;
margin-right: 20px;
border-radius:4px;
}
.help{
background: url(../image/6.png) no-repeat;
float: right;
width: 420px;
height:310px;
margin-right: 10px;
margin-top: 10px;
border-radius:4px;
box-shadow:0 2px 2px 2px rgba(19, 35, 47, 0.2);
}
.help2{
background: url(../image/6.png) no-repeat;
float: right;
width: 420px;
height:3px;
margin-right: 10px;
margin-top: 10px;
border-radius:4px;
box-shadow:0 2px 2px 2px rgba(19, 35, 47, 0.2);
}
.login{
background: url(../image/5.png) repeat-x;
float: right;
width: 500px;
height:310px;
margin-right: 10px;
margin-top: 10px;
border-radius:4px;
box-shadow:0 2px 2px 2px rgba(19, 35, 47, 0.2);
}
.form{
padding:0px;
margin:0px auto;
font-family:"b roya";
padding-top:5px;

}

.button:hover,.button:focus{
background:block;
}
.button-block{
font-family:"b roya";
font-size:25px;
display:block;
width:130px;
height:50px;
float:left;
margin:25px 30px;
border:0;
background-color:#333333;
border-radius:4px;
color:#eeeeee;
text-align:center;
padding:-5px 0;
-webkit-transition:all .5s ease;
transition:all .5s ease;
-webkit-appearance:none;
text-transform:uppercase;

}
.help p
{color:#1e2021;
font-family:"B Yas";
font-size:22px;
text-align:center;
margin-right: 30px;
margin-top: 20px;
margin-left: 30px;
}
.field{
list-style: none;
padding:0;
height:70px;
}
.fieldb{
list-style: none;
padding:0;
height:100px;
}
label .req{
margin:2px;
color:#333333;
}
label{
float:right;
color:#eeeeee;
margin-right:35px;
font-size:18px;
}
.n
{
float:right;
background:#eeeeee;
width:440px;
margin-right:30px;
font-family:"b yekan";
font-size:16px;
border-radius:4px;
margin-top:5px;
color:#f50909;
}
.n1
{
float:right;
background:#eeeeee;
width:440px;
margin-right:30px;
font-family:"B Roya";
font-size:16px;
text-align:center;
border-radius:4px;
margin-top:5px;
}
.p{
float:right;
color:#eeeeee;
font-family:"B Roya";
font-size:22px;
margin-top:25px;
margin-right:40px;
list-style: none;

}

#footer h1{
text-align:center;
font-family:"Microsoft PhagsPa";
font-size:12px;
color:#ffffff;
margin-top:2px;
}
#footer h2{

font-family:"Microsoft PhagsPa";
font-size:10px;
color:#00bff3;
text-align:center;
margin-top:-5px;
}

a{
text-decoration:none;
color:#eeeeee;
-webkit-transition: .5s ease;
transition: .5s ease;
padding:5px;
}

a:hover{
color:#333333;
}
.p li a{
display:block;
text-decoration:none;
background: rgba(51, 51, 51, 0.25);
cursor:pointer;
-webkit-transition: 0.5s ease;
transition: 0.5s ease;
border-radius:4px;
}

.p:after{
content: "";
display: table;
clear: both;
}
.p li a:hover{
background:#333333;
color:#e5ad27;
border-radius:4px;
}
.p a{
background:#333333;
color:#ffffff;
}
.button-block:hover{
color:#e5ad27;
}





